* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
}

model-viewer {
    width: 100vw;
    height: 100vh;
    display: block;
    cursor: default !important; /* Forces outer element cursor boundary */
}

#ar-prompt, .ar-prompt, [slot="ar-prompt"] {
    display: none !important;
}